* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#card {
    border-radius: 15px;
    width: 15rem;
    height: 22rem;
    /* border: 3px solid black; */
    margin: 30px;
    background-color: rgb(206, 211, 209);
box-shadow: 3px 3px 4px rgb(48, 45, 45);
}

.image {
    border-radius: 15px 15px 0 0;
    /* border: 1px solid red; */
    height: 60%;
    padding: 3px;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Killingjoke.JPG/250px-Killingjoke.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    /* border: 1px solid green; */
    height: 30%;
    padding: 17px;
    text-align: center;
}
.title>p {
    font-size: 1.5rem;
    color: rgb(148, 150, 151);
    text-shadow: black 1px 2px 2px;
}

hr {
    position: relative;
    width: 50%;
    margin: 10px auto;
    opacity: 0.5;
    /* top: 2.5rem; */
    border: 1px solid orange
}

.status {
    /* border: 1px solid blue; */
    height: 10%;
}

button {
    position: relative;
    outline: none;
    left: 50%;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    font-style: italic;
    width: 7rem;
    cursor: pointer;
}